<%- include('partials/header') %> 
<div class="main-content">
    <p>This site was created by Nitish Sinha. It is made by using express and nodejs and some html, css. It uses data from mapbox.com and openweathermap.org</p>

</div>
<%- include('partials/footer') %> 