<%- include('partials/header') %>
    <div class="main-content">
        <p>Use this to get Weather Informatinon!</p>
        <form>
            <input type="text" name="search" id="search" placeholder="Search by location">
            <button>Search</button>
        </form>
        <button id="my-loc">My Location</button>
        <div class="center">
            <p id="msg-1" class="data"></p>
            <img src="" alt="">
            <p id="msg-2" class="data"></p>

            <p id="msg-3" class="data"></p>
        </div>
    </div>

    <script src="/js/app.js"></script>
    <%- include('partials/footer') %>